---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<section class="max-w-3xl space-y-4" id="experience">
		<h1 class="text-4xl lg:text-5xl font-bold text-white leading-tight">
			Currently building projects and learning.
		</h1>
	</section>
</Layout>
